.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.jar
*.sw?
*~

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


#Other#
.*.md.html
.DS_Store



.metadata

.recommenders


/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
out/production/resources/static/js/Services/dashBoardService.js
out/production/resources/static/user-add.html
out/production/resources/static/user-list.html
src/main/generated/
src/main/resources/static/js/Services/dashBoardService.js
src/main/resources/static/js/shared/
src/main/resources/static/user-add.html
src/main/resources/static/user-list.html
src/main/resources/templates/
src/test/generated_tests/
src/test/resources/
web/
