<div class="modal-content" id="message-box-modal">
    <div class="modal-header" id="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title " id="message-box-modal-header-test">Sorry !</h4>
    </div>
    <div class="modal-body" id="modal-body">
        <p id="message-box-modal-message">{{err}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
    </div>
</div>
